doctype html
html(lang="en")
  head
    title= Zet
  body
    header.page-header
      nav.page-header__navigation
        a.page-header__logo(href="494.html")
        button.page-header__menu-toggle-button
    main
      h1.visually-hidden zet website
      section.sevices
        h2.services__title services
      section.works
        h2.works__title works
      section.reviews
        h2.reviews__title happy clients
      section.team
        h2.team__title our professional team
      section.clients
        h2.visually-hidden clients logos
      section.prices
        h2.prices_title pricing table
      div.page-main__wrapper
        section.map
          h2.visually-hidden map
        section.feedback
          h2.visually-hidden feedback
    footer.page-footer
      a.page-footer__logo(href="494.html")
      .socials
        p.socials__title
          ul.socials__list
