doctype html
html(lang="en")
  head
    title= Zet
    link(rel="stylesheet", href="css/style.min.css")
  body
    header.page-header
      nav.page-header__navigation
        a.page-header__logo(href="494.html")
          img(src="img/logo.png", width="84", height="31", alt="zet logo.")
        button.page-header__menu-toggle-button MENU
      .promo
        h2.promo__title Something Nothing
        p.promo__text Enean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim iam ultricies nisi eleifend tellus.
        button.promo__button LET’S TALK
        button.promo__go-next-button
    main
      h1.visually-hidden zet website
      section.services
        .services__wrapper
          h2.services__title services
          small.services__description Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
          ul.services__list
            li.services__item
              h3.services__item-name FULLY RESPONSIVE
              p.services__item-text Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
            li.services__item
              h3.services__item-name EASY CUSTOMIZE
              p.services__item-text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae.
            li.services__item
              h3.services__item-name SEO READY
              p.services__item-text Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi
            li.services__item
              h3.services__item-name MADE WITH LOVE
              p.services__item-text ecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero. vulputate eget, arcu.
      section.works
        h2.works__title works
        small.works__description Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
        ul.works__list
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works01.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works02.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works03.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works04.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works05.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works06.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works07.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works08.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works09.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works10.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works11.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works12.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works13.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works14.jpg", width="320", height="200" alt="work preview.")
          li.works__item
            a.works__link(href="404.html")
              img(src="img/works15.jpg", width="320", height="200" alt="work preview.")
      section.reviews
        h2.reviews__title happy clients
        small.reviews__description Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
        ul.reviews__list
          li.reviews__item(id="review01")
            p.reviews__text Bebed pupu warni sangsam ngundang ajang, gujeng sirah lair menda bebucal benang; lek-lekan? Madeg pendhet lenggah, "nanem dipetak dhuwung, dipun awis bokong ayam. gendhis angsal Jawa Ipsum nangis rumput wilujeng unyeng-unyeng; pados gujeng benter andhap lisa Leres, lisah, ulem-ulem nedhi gesang manah cangkem: nem aken benter bebucal baita dangu
            .reviews__author
              img.reviews__author-image(src="img/author.jpg", width="65", height="65", alt="author picture")
              p.reviews__author-name Vasily Nganu
              p.reviews__author-position Dropbox Senior Developer
          li.reviews__item(id="review02")
            p.reviews__text Bebed pupu warni sangsam ngundang ajang, gujeng sirah lair menda bebucal benang; lek-lekan? Madeg pendhet lenggah, "nanem dipetak dhuwung, dipun awis bokong ayam. gendhis angsal Jawa Ipsum nangis rumput wilujeng unyeng-unyeng; pados gujeng benter andhap lisa Leres, lisah, ulem-ulem nedhi gesang manah cangkem: nem aken benter bebucal baita dangu
            .reviews__author
              img.reviews__author-image(src="img/author.jpg", width="65", height="65", alt="author picture")
              p.reviews__author-name Vasily Nganu
              p.reviews__author-position Dropbox Senior Developer
          li.reviews__item(id="review03")
            p.reviews__text Bebed pupu warni sangsam ngundang ajang, gujeng sirah lair menda bebucal benang; lek-lekan? Madeg pendhet lenggah, "nanem dipetak dhuwung, dipun awis bokong ayam. gendhis angsal Jawa Ipsum nangis rumput wilujeng unyeng-unyeng; pados gujeng benter andhap lisa Leres, lisah, ulem-ulem nedhi gesang manah cangkem: nem aken benter bebucal baita dangu
            .reviews__author
              img.reviews__author-image(src="img/author.jpg", width="65", height="65", alt="author picture")
              p.reviews__author-name Vasily Nganu
              p.reviews__author-position Dropbox Senior Developer
        ul.reviews__slider-controls.slider-controls
          li.slider-controls-item
            input.slider-controls__input.visually-hidden(type="radio", name="slider", id="sliderInput01", checked)
            label.slider-controls-label(for="sliderInput01")
          li.slider-controls-item
            input.slider-controls__input.visually-hidden(type="radio", name="slider", id="sliderInput02")
            label.slider-controls-label(for="sliderInput02")
          li.slider-controls-item
            input.slider-controls__input.visually-hidden(type="radio", name="slider", id="sliderInput03")
            label.slider-controls-label(for="sliderInput03")
      section.team
        .team__wrapper
          h2.team__title our professional team
          small.team__description Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
          ul.team__list
            li.team__item.person
              img(src="/img/salazar.jpg", width="270", height="270", alt="Salazar Slytherin photo.")
              .team__item-wrapper.person__wrapper
                p.team__item-name.person__name Salazar Slytherin
                p.team__item-position.person__position CEO
                ul.team__item-socials.person__socials
                  li.person__social-item
                    a.person__social-link(href="404.html") twitter
                      img(src="img/social-twitter.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") linkenid
                      img(src="img/social-linkedin.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") vimeo
                      img(src="img/social-vimeo.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") dribble
                      img(src="img/social-dribble.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") little
                      img(src="img/social-little.png", width="25", height="19", alt="twitter.")
            li.team__item.person
              img(src="/img/gryffindor.jpg", width="270", height="270", alt="Godric Gryffindor photo.")
              .team__item-wrapper.person__wrapper
                p.team__item-name.person__name Godric Gryffindor
                p.team__item-position.person__position Lead Developer
                ul.team__item-socials.person__socials
                  li.person__social-item
                    a.person__social-link(href="404.html") twitter
                      img(src="img/social-twitter.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") linkenid
                      img(src="img/social-linkedin.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") vimeo
                      img(src="img/social-vimeo.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") dribble
                      img(src="img/social-dribble.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") little
                      img(src="img/social-little.png", width="25", height="19", alt="twitter.")
            li.team__item.person
              img(src="/img/ravenclaw.jpg", width="270", height="270", alt="Rowena Ravenclaw photo.")
              .team__item-wrapper.person__wrapper
                p.team__item-name.person__name Rowena Ravenclaw
                p.team__item-position.person__position Lead Designer
                ul.team__item-socials.person__socials
                  li.person__social-item
                    a.person__social-link(href="404.html") twitter
                      img(src="img/social-twitter.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") linkenid
                      img(src="img/social-linkedin.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") vimeo
                      img(src="img/social-vimeo.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") dribble
                      img(src="img/social-dribble.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") little
                      img(src="img/social-little.png", width="25", height="19", alt="twitter.")
            li.team__item.person
              img(src="/img/hufflepuff.jpg", width="270", height="270", alt="Helga Hufflepuff photo.")
              .team__item-wrapper.person__wrapper
                p.team__item-name.person__name Helga Hufflepuff
                p.team__item-position.person__position Marketing
                ul.team__item-socials.person__socials
                  li.person__social-item
                    a.person__social-link(href="404.html") twitter
                      img(src="img/social-twitter.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") linkenid
                      img(src="img/social-linkedin.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") vimeo
                      img(src="img/social-vimeo.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") dribble
                      img(src="img/social-dribble.png", width="24", height="24", alt="twitter.")
                  li.person__social-item
                    a.person__social-link(href="404.html") little
                      img(src="img/social-little.png", width="25", height="19", alt="twitter.")
          a.team__show-all-button(href="404.html") MEET OUR FULL TEAM
      section.clients
        h2.visually-hidden clients
        ul.clients__list
          li.clients__item
            img(src="", alt="Coca Cola.")
          li.clients__item
            img(src="", alt="Dropbox.")
          li.clients__item
            img(src="", alt=" Intel.")
          li.clients__item
            img(src="", alt="Zendesk.")
          li.clients__item
            img(src="", alt="Nokia")
      section.prices
        h2.prices_title pricing table
        small.reviews__description Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
        ul.prices__packs
          li.prices__pack
            .prices__pack-wrapper
              h3.prices__pack-name Standard Pack
              p.prices__pack-value $50
              p.prices__pack-period PER MONTH
            p.prices__pack-description exercitation ullaborum sed do eiusmod tempor incididunt ut  quis nostrud exercitation ullamco laboris
            a.prices__pack-button SIGN UP
          li.prices__pack
            .prices__pack-wrapper
              h3.prices__pack-name Best Pack
              p.prices__pack-value $100
              p.prices__pack-period PER MONTH
            p.prices__pack-description eiusmod tempor incididunt ut  quis nostrud exercitation ullamco laboris minim aliqua labore dolore nostrud laboris ullamco incididunt quis
            a.prices__pack-button SIGN UP
          li.prices__pack
            .prices__pack-wrapper
              h3.prices__pack-name VIP Pack
              p.prices__pack-value $250
              p.prices__pack-period PER MONTH
            p.prices__pack-description incididunt ut labore et dolore  magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullaborum sed do eiusmod tempor incididunt ut  quis nostrud exercitation ullamco laboris
            a.prices__pack-button SIGN UP
      div.page-main__wrapper
        section.map
          img(src="", alt="")
          img.map__point
          h2.visually-hidden map
        section.feedback
          h2.visually-hidden feedback
          form.feedback__form(action="", method="post")
          label.feedback__label(for="feedback__name") Name
          input.feedback__text-input(type="text", name="feedback__name", id="feedback__name")
          label.feedback__label(for="feedback__email") Email
          input.feedback__text-input(type="text", name="feedback__email", id="feedback__email")
          label.feedback__label(for="feedback__phone") Phone
          input.feedback__text-input(type="text", name="feedback__phone", id="feedback__phone")
          label.feedback__label(for="feedback__message") Message
          textarea.feedback__text-input(type="text", name="feedback__message", id="feedback__message")
          button.feedback__sumbit-button(type="sumbit") Submit
    footer.page-footer
      a.page-footer__logo(href="494.html")
        img(src="", alt="zet logo.")
      p.page-footer__copyright © Copyright 2015. Allright Reserved
      .socials
        p.socials__title Stay In Touch
          ul.socials__list
            li.socials__item
              a.socials__link(href="404.html") facebook
            li.socials__item
              a.socials__link(href="404.html") twitter
            li.socials__item
              a.socials__link(href="404.html") googleplus
            li.socials__item
              a.socials__link(href="404.html") dribble
