.reviews {
  max-width: $minWidth;
  margin: 0 auto;
  padding: 100px 0;
}

.reviews__title {
  @include sectionTitle($main-dark-color);
}

.reviews__description {
  @include sectionDescription($main-dark-color);
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  max-width: $minWidth;
  margin: 0 auto;

  &:not(:first-child) {
    display: none;
  }
}

.reviews__text {
  position: relative;
  margin: 0;
  margin-bottom: 70px;

  line-height: 26px;
  color: $blue-text-color;
  text-align: center;

  &::after {
    content: "”";

    position: absolute;
    bottom: -40px;
    left: calc(50% - 8px);

    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgba($blue-text-color, 0.5);
  }
}

.reviews__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 370px;
}

.reviews__author-image {
  display: block;
  margin: 0;
  margin-bottom: 13px;

  border-radius: 50%;
}

.reviews__author-name {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: $main-dark-color;

  border-radius: 50%;
}

.reviews__author-position {
  margin: 0;
  margin-bottom: 35px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba($main-dark-color, 0.8);
}

.reviews__slider-controls {
  justify-content: center;
}
