.works {
  max-width: $maxWidth;
  margin: 0 auto;
  padding-top: 100px;
}

.works__title {
  @include sectionTitle($main-dark-color);
}

.works__description {
  @include sectionDescription($main-dark-color);
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.works__link img {
  display: block;
}
