html {
  line-height: 1.15;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
  max-width: 100%;
}
