html {
  line-height: 1.15;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
  max-width: 100%;
}
