$grey-background-color: #f5f5f5;
$main-dark-color: #29323c;
$blue-color: #485563;
$main-light-color: #e8e8e8;
$blue-text-color: #2b3746;
$blue-text-color2: #485563;
$person-background-color: rgba(#f2f2f2, 0.75);
$grey: #eeeeee;
$grey2: #e8e8e8;
$grey3: #f6f6f6;
